{% extends "base.html" %}

{% block title %}Create New Expense?{% endblock %}

{% block content %}
  <h2>You have just created a new expanse. Do you want to create another one?</h2>

  <form action="/expenses/add-form/{{ group.id }}" method="get" style="display:inline;">
    <button type="submit" class="btn">Yes, create new expense</button>
  </form>

  <form action="/groups/{{ group.id }}" method="get" style="display:inline; margin-left: 1rem;">
    <button type="submit" class="btn">No, go back to group view</button>
  </form>
{% endblock %}
