{% extends "base.html" %}

{% block title %}Users - BrokeTogether{% endblock %}

{% block content %}

<!-- Show Add User Button -->
<div style="margin-top: 2rem;">
    <form action="/forms/user">
        <button type="submit" class="btn">Add User</button>
    </form>
</div>

<h2>User Management</h2>

<div class="user-list">
  {% for user in users %}
    <div class="user-card">
      <span class="username">{{ user.username }}</span>
      <form action="/users/{{ user.id }}/delete" method="post" onsubmit="return confirm('Na pewno chcesz usunąć użytkownika {{ user.username }}?');">
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </div>
  {% else %}
    <p>No users found.</p>
  {% endfor %}
</div>

{% endblock %}
